body {
    background-color: green;
}

h1 {
    color: white;
    position: center;
}

a {
    color: cornflowerblue;
}

p {
    color: white;
}

hr {
    border: 0.2em solid white;
}

div {
    
    background-color: whitesmoke;
    height: 100px;
    width: 50%;
    margin: auto;
    color: black;
    text-align: center;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 600px;
    width: 50%;
    /* Should be removed. Only for demonstration */
}

.container {
    /* float: left; */
    display: block;
    width: 30%;

}

.myDiv {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.container{
    /* float: left; */
    display: block;
    width: 30%;
  
  }
  .slider {
    height: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: green;
    overflow: hidden;
    left: 0;
  }
  .abs {
    position: absolute;
  }
  .rel {
    position: relative;
  }
  .slider img {
      width: 100%;
  }
  
  .content{
    border: 2px solid red;
  }