body {
    background-color: green;
}

h1 {
    color: white;
    position: center;
}

a {
    color: cornflowerblue;
}

p {
    color: white;
}

hr {
    border: 0.2em solid white;
}

div {
    padding: 65px;
    background-color: whitesmoke;
    height: 100px;
    width: 30%;
    margin: auto;
    color: black;
    text-align: center;
}

.left {
    position: absolute;
    background-color: green;
    height: 10%;
    width: 30%;
    top: 10em;
    left: 0;
    color: black;
}

.right {
    position: absolute;
    border-color: aqua;
    background-color: green;
    height: 10%;
    width: 30%;
    top: 10em;
    right: 0;
    color: black;
}

.bottom {
    position: relative;
    bottom: -30em;
    text-align: center;
    background-color: green;
}

.one {
    background-color: red;
    position: absolute;
    top: 10em;
    left: 0;
}

.two {
    background-color: yellow;
    position: absolute;
    top: 10em;
    right: 0;
}

.three {
    background-color: blue;
    position: relative;
    bottom: -25em;
    text-align: center;
    width: 89.5%;
}


body {
    margin: 0;
}


/* Create two equal columns that floats next to each other */